@import '../../styles/constants';

.presets-panel {
    width: 300px;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    background-color: white;
    transition: all 0.5s ease-in-out;
    overflow: scroll;
    height: 0;

    @media screen and (max-width: $small) {
        width: 100%;
        z-index: 2;
        transition: all 0.3s ease-in-out;
    }

    &--visible {
        height: calc(100vh - 60px);
    }

    &__container {
        padding-bottom: 60px;
    }

    &__presets {
        margin: 50px 0;

        .preset {
            margin-left: 30px;
        }
    }

    &__cta {
        width: 300px;
        text-align: center;
        padding: 26px 33px;
        margin: 30px 0;
        background-color: $darker;

        @media screen and (max-width: $small) {
            width: 100%;
        }

        &-copy {
            font-size: 18px;
            line-height: 22px;
            color: white;
            margin-bottom: 10px;
        }

        &-button {
            border-color: white;
            color: white;

            &:hover {
                background-color: white;
                color: $darker;
            }
        }
    }
}
