@import '../../styles/constants';

.menu-panel {
    width: 300px;
    box-shadow: -1px 0 4px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    background-color: $lighter-grey;
    transition: all 0.5s ease-in-out;
    overflow: scroll;
    height: 0;
    z-index: 2;
    right: -300px;
    height: calc(100vh - 60px);

    @media screen and (max-width: $small) {
        width: 100%;
        box-shadow: none;
        right: -100%;
        transition: all 0.3s ease-in-out;
    }

    &--visible {
        right: 0;
    }

    &__close {
        cursor: pointer;
        width: 25px;
        height: 25px;
        margin: 15px 0 13px 15px;
    }

    &__menu {
        background-color: white;
        padding: 50px 0;
        text-align: center;
        height: 400px;

        &__link {
            color: $primary;
            letter-spacing: 1px;
            cursor: pointer;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                color: $secondary;
                font-weight: bold;
            }
        }
    }
}
