@import '../../styles/constants';

.filter {
    margin-bottom: 30px;

    &__header {
        margin-bottom: 9px;
        height: 22px;

        &-name {
            color: $text-primary;
            font-family: $font-main;
            font-size: 16px;
            text-transform: capitalize;
            margin-right: 6px;
        }

        &__range {
            min-width: 70px;
            height: 22px;
            border: 1px solid $secondary;
            border-radius: 11px;

            &-numbers {
                width: calc(100% - 22px);
                color: $secondary;
                font-family: $font-other;
                font-size: 12px;
                line-height: 22px;
                text-align: center;
                margin: 0 10px;
            }

            &-close {
                height: 22px;
                cursor: pointer;
            }
        }

        &__tooltip {
            position: relative;

            &-container {
                width: 200px;
                min-height: 115px;
                height: auto;
                position: absolute;
                top: -5px;
                left: 40px;
                border-radius: 5px;
                background-color: $primary;
                z-index: 10;
                padding: 15px;
            }

            &-text {
                color: white;
                font-family: $font-other;
                font-size: 12px;
                line-height: 17px;
                text-align: center;
            }
        }

        &__toggle {
            &-symbol {
                cursor: pointer;
            }
        }

        &__counter {
            height: 22px;
            width: 22px;
            border-radius: 11px;
            background-color: $secondary;
            text-align: center;
            cursor: pointer;
            color: white;
            line-height: 22px;
            font-size: 12px;
            font-weight: bold;
            font-family: $font-other;
        }
    }
    .rc-slider {
        padding: 0;
        height: 38px;
        &-rail {
            height: 38px;
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 0;
        }
        &-track {
            height: 38px;
            background-color: transparent;
        }
        &-step {
            height: 38px;
        }
        .rc-slider-handle {
            width: 4px;
            height: 38px;
            background-color: $secondary;
            border: none;
            border-radius: 0;
            margin: 0;
        }
    }

    &__shapes {
        &__list {
            list-style: none;
            margin: 15px 0 0 0;
            padding: 0;

            &-shape {
                display: inline-block;
                margin-right: 22px;
                margin-bottom: 10px;
                cursor: pointer;
                height: 28px;
                position: relative;
                width: 64px;

                &:nth-child(3n + 3) {
                    margin-right: 0;
                }

                img {
                    width: 64px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }

    &__instruments {
        position: relative;

        &-search {
            height: 38px;
            width: 240px;
            border: 1px solid #d9d9d9;
            border-radius: 5px;
            background-color: #f5f4f5;
            padding: 9px 14px;
            font-size: 14px;
            font-family: $font-other;
        }

        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            border: 1px solid #d9d9d9;
            max-height: 110px;
            overflow: scroll;
            margin-top: -1px;
            position: absolute;
            width: 100%;
            background-color: white;

            &-item {
                color: $text-primary;
                font-size: 14px;
                line-height: 30px;
                padding-left: 14px;
                cursor: pointer;
                border-bottom: 1px solid #d9d9d9;

                &:hover {
                    background-color: $primary;
                    color: white;
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }

        &__selected {
            margin: 14px 0 30px 0;

            &-item {
                height: 22px;
                border: 1px solid $secondary;
                border-right: none;
                border-radius: 11px;
                margin-right: 10px;
                margin-bottom: 10px;
                display: inline-block;
                min-width: 100px;
                text-align: center;

                &-name {
                    color: $secondary;
                    font-family: $font-other;
                    font-size: 12px;
                    line-height: 22px;
                    display: inline-block;
                    vertical-align: middle;
                    width: calc(100% - 22px);
                    padding: 0 11px;
                }

                &-close {
                    width: 22px;
                    cursor: pointer;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
}
