@import '../../styles/constants';

.about {
    padding-top: 130px;

    @media screen and (max-width: $large) {
        padding-top: 80px;
    }

    @media screen and (max-width: $medium) {
        padding-top: 60px;
    }

    &__hero {
        background-image: url('/assets/images/about-hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 430px;
        max-width: 1040px;
        margin: 0 auto;

        @media screen and (max-width: $large) {
            background-position: 50% 50%;
        }

        @media screen and (max-width: $medium) {
            height: 300px;
        }

        @media screen and (max-width: $small) {
            height: 200px;
        }
    }

    &__title {
        color: $primary;
        font-family: $font-main;
        letter-spacing: 0;
        text-align: center;
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 15px;

        @media screen and (max-width: $large) {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (max-width: $small) {
            font-size: 21px;
        }

        &--big {
            font-size: 36px;
            line-height: 42px;
            margin-top: 50px;
            margin-bottom: 30px;

            @media screen and (max-width: $small) {
                font-size: 24px;
            }
        }
    }

    &__copy {
        color: $primary;
        font-family: $font-main;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 21px;
        max-width: 600px;
        margin: 0 auto 15px;

        @media screen and (max-width: $large) {
            width: 80%;
        }

        &--wide {
            max-width: 800px;
            margin-bottom: 40px;
        }
    }

    &__banner {
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 30px;
        color: white;
        font-family: $font-main;
        font-size: 36px;
        letter-spacing: 0;
        line-height: 42px;
        background-repeat: no-repeat;
        background-size: cover;

        &--first {
            background-image: url('/assets/images/about-2.jpg');
        }

        &--second {
            background-image: url('/assets/images/about-1.jpg');
        }
    }

    &__ctas {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1040px;
        margin: 40px auto 60px;

        @media screen and (max-width: $large) {
            width: 90%;
        }

        @media screen and (max-width: $small) {
            display: block;
        }

        a {
            background-repeat: no-repeat;
            background-size: cover;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            color: white;
            font-family: $font-main;
            font-size: 28px;
            font-weight: 300;
            letter-spacing: 0;
            line-height: 33px;

            &:first-child {
                background-image: url('/assets/images/about-4.jpg');
                margin-right: 20px;
            }
            &:nth-child(2) {
                background-image: url('/assets/images/about-3.jpg');
            }

            @media screen and (max-width: $small) {
                width: 100%;
                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
