@import './constants.scss';

#app {
    position: relative;
    background-color: $almost-white;
    min-height: 100vh;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body {
    background-color: $background;
    -ms-overflow-x: hidden;
}

* {
    font-family: $font-main;
    line-height: 1.2;
}

h1,
h2,
h3,
h4 {
    font-family: $font-alt;
    margin: 0;
}

p {
    font-family: $font-main;
    margin: 0;
}

main {
    display: block;
    margin: 0 auto;
}

*:focus {
    outline: none;
}

::-ms-clear {
    display: none;
}

.align {
    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--center {
        text-align: center;
    }
}

.flex {
    display: flex;

    &--space-between {
        justify-content: space-between;
        align-items: center;
    }
}

.margin {
    &--top {
        margin-top: 10px;
    }

    &--bottom {
        margin-right: 10px;
    }

    &--left {
        margin-right: 10px;
    }

    &--right {
        margin-right: 10px;
    }
}

.hide {
    display: none;
}

.info-tooltip {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    background-color: $primary;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    vertical-align: middle;
    line-height: 15px;
    text-align: center;
    font-weight: bold;

    &--active {
        background-color: $secondary;
    }
}

input,
textarea {
    height: 40px;
    width: 210px;
    border: 1px solid $lighter-grey;
    border-radius: 4px;
    margin-bottom: 10px;
    color: $primary;
    font-family: $font-other;
    font-size: 12px;
    line-height: 17px;
    padding: 12px 10px;
}

textarea {
    resize: none;
    height: 160px;
}
.input-error {
    position: relative;
}
.input-error input,
.input-error textarea,
.input-error .check-box label:before {
    border: 1px solid $error;
}
.input-error:after {
    content: '';
    display: block;
    background-image: url('/assets/images/error_icon.svg');
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
}
.checkbox-wrap.input-error::after {
    left: 0;
    top: 0;
}
.error-tooltip {
    width: 200px;
    border-radius: 5px;
    background-color: #cd3542;
    color: #ffffff;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 15px;
    position: absolute;
    z-index: 1;
    right: -15px;
    bottom: 55px;
    text-align: center;
}

// Checkbox
.check-box {
    position: relative;
}
.check-box label:before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 30px;
    border: 1px solid $lighter-grey;
    border-radius: 4px;
    vertical-align: top;
    z-index: 2;
}
.check-box label {
    color: $primary;
    font-family: $font-other;
    font-size: 12px;
    display: inline-grid;
    grid-template-columns: 30px 1fr;
}
.check-box label span {
    margin-left: 10px;
    line-height: 15px;
}
input[type='checkbox'] {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin-bottom: 0;
}
.check-box svg {
    position: absolute;
    width: 30px;
    top: 0;
    left: 0;
}

.modal--share {
    .modal__content {
        top: 50%;
        margin: 0;
        height: 300px;
        width: 600px;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        .share {
            &__close {
                background-color: $tertiary;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                float: right;
                margin: 14px 14px 0 0;
                padding: 5px;
                cursor: pointer;
                &:hover {
                    opacity: 0.7;
                }
            }
            &__header {
                color: $primary;
                font-size: 24px;
                font-weight: bold;
                line-height: 29px;
                padding-top: 40px;
                margin-bottom: 20px;
            }
            &__item {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 15px;
                }
                &__title {
                    color: $primary;
                    margin-bottom: 3px;
                    text-align: left;
                    display: flex;
                    svg {
                        width: 22px;
                        margin-left: 5px;
                    }
                }
                &__artist {
                    color: $primary;
                    font-family: 'Open Sans';
                    font-size: 12px;
                    line-height: 17px;
                    text-align: left;
                }
            }
            &__button {
                height: 41px;
                width: 261px;
                border: 1px solid $tertiary;
                border-radius: 20px;
                background-color: $tertiary;
                margin: 25px auto 30px;
                color: white;
                font-size: 18px;
                font-weight: bold;
                line-height: 40px;
                cursor: pointer;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}
