$background: white;

// Fonts
$font-main: 'Raleway';
$font-alt: 'Fira sans';
$font-other: 'Open sans';

// Colors
$primary: #444;
$secondary: #0092c5;
$tertiary: #808080;

$error: #cd3542;
$almost-white: #f5f4f5;
$light-grey: #d8d8d8;
$dark-grey: #424242;
$darker: #1d1d1f;

// Media distribution colors
$spotify: #1db954;
$bandcamp: #629aa9;
$itunes: #d948dd;
$apple: #000000;
$vimeo: #1ab7ea;
$soundcloud: #ff7700;
$google: #3bccff;
