// Fonts
$font-main: 'Raleway';
$font-alt: 'Fira sans';
$font-other: 'Open sans';

// Colors
$background: white;
$primary: #444;
$secondary: #0092c5;
$tertiary: #808080;

$error: #cd3542;
$almost-white: #f5f4f5;
$lighter-grey: #d8d8d8;
$light-grey: #9b9b9b;
$dark-grey: #424242;
$darker: #1d1d1f;

// Media distribution colors
$spotify: #1db954;
$bandcamp: #629aa9;
$itunes: #d948dd;
$apple: #000000;
$vimeo: #1ab7ea;
$soundcloud: #ff7700;
$google: #3bccff;
$deezer: #2d96c8;
$tidal: #000;
$youtube: #ff0000;

// Responsive screen sizes
$large: '1024px';
$medium: '768px';
$small: '540px';
