@import '../../styles/constants';

.left-panel {
    width: 300px;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    background-color: white;
    padding: 48px 30px;
    overflow: scroll;
    height: 100vh;
}
