@import '../../styles/constants';

.music-player {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $dark-grey;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 0 52px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    left: 0;

    .desktop-hide {
        display: none;
    }

    .mobile-control {
        display: none;
    }

    .desktop-control {
        display: inherit;
    }

    .actions-menu {
        width: 200px;
        border: 1px solid $lighter-grey;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        position: absolute;
        bottom: 69px;
        right: 200px;
        padding: 10px 0;

        @media screen and (max-width: $medium) {
            bottom: 57px;
            right: 100px;
        }

        div {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: $tertiary;
            font-size: 14px;
            padding: 4px 0;

            svg {
                margin: 0 10px 0 15px;
            }

            path {
                fill: $tertiary;
            }

            &:hover {
                background-color: $secondary;
                color: white;

                path {
                    fill: white;
                }
            }
        }
    }

    @media screen and (max-width: $small) {
        z-index: 1;
    }

    @media screen and (max-width: $medium) {
        height: 120px;
        display: block;
        padding: 0;

        .mobile-control {
            display: block;
            height: 60px;

            &:nth-child(2) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .desktop-control {
            display: none;
        }
    }

    @media screen and (min-width: $medium) and (max-width: $large) {
        z-index: 0;
        padding: 10px 30px;

        .mobile-hide {
            display: none;
        }
        .desktop-hide {
            display: block;
        }
    }

    &__section {
        border-right: 1px solid $almost-white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;

        &:last-child {
            border-right: none;
        }

        &--controls {
            width: 136px;

            @media screen and (max-width: $medium) {
                border-right: none;
                padding-left: 10px;
            }

            &-button {
                height: 36px;
                margin-right: 20px;
                cursor: pointer;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        &--content {
            padding: 0 20px;
            width: 100%;
            justify-content: space-between;

            @media screen and (max-width: $medium) {
                padding: 10px 10px 8px 10px;
                border-right: none;

                &-changed {
                    justify-content: flex-end;
                    padding-right: 10px;
                }

                .player-mobile-link {
                    display: flex;
                    align-items: center;
                }
            }

            &__song {
                display: flex;
                justify-content: center;
                align-items: center;

                &-image {
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.5;
                    }
                }

                &__details {
                    cursor: pointer;

                    &-title {
                        font-size: 14px;
                        line-height: 16px;
                        color: white;
                        margin-bottom: 2px;
                        display: inline-block;

                        &:hover {
                            color: $secondary;
                        }
                    }

                    &-author,
                    &-duration {
                        color: white;
                        font-family: $font-other;
                        font-size: 12px;
                        border-right: 1px solid white;
                        padding-right: 5px;
                        margin-right: 5px;
                        display: inline-block;

                        span {
                            font-family: $font-other;
                            font-weight: normal;
                        }
                    }

                    &-duration {
                        font-weight: bold;
                        margin: 0;
                        padding: 0;
                        border-right: none;
                    }

                    &-author {
                        &:hover {
                            color: $secondary;
                        }

                        &--inline {
                            border-right: none;
                            margin-left: 10px;
                        }
                    }

                    &-progress {
                        width: 400px;
                        margin-right: 13px;
                        display: inline-block;
                        vertical-align: middle;

                        .rc-slider-rail {
                            background-color: $tertiary;
                            border-radius: 0;
                        }

                        .rc-slider-track {
                            background-color: $secondary;
                            border-radius: 0;
                        }

                        .rc-slider-handle {
                            border: none;
                            height: 18px;
                            width: 18px;
                            border-radius: 9px;
                            background-color: white;
                            margin-top: -7px;

                            &:hover {
                                color: $secondary;
                            }
                        }

                        @media screen and (max-width: $medium) {
                            width: 100%;
                            vertical-align: top;
                            .rc-slider {
                                padding: 0;
                                height: 4px;
                            }
                            .rc-slider-handle {
                                display: none;
                            }
                        }
                    }
                }
            }

            &__actions {
                display: flex;
                justify-content: center;
                align-items: center;

                &-button {
                    width: 36px;
                    height: 36px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-right: 10px;
                    cursor: pointer;

                    path,
                    circle {
                        fill: white;
                    }

                    &:hover {
                        path,
                        circle {
                            fill: $secondary;
                        }
                    }

                    &--active {
                        path,
                        circle {
                            fill: $secondary;
                        }
                    }
                }

                &-license {
                    border-radius: 2px;
                    background-color: white;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
                    border: none;
                    color: $dark-grey;
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    margin-left: 12px;

                    &:hover {
                        color: $dark-grey;
                    }
                }
            }
        }

        &--extra {
            width: 60px;

            &-button {
                background-image: url('/assets/images/player/playlist.png');
                width: 36px;
                height: 36px;
                background-repeat: no-repeat;
                background-size: contain;
                cursor: pointer;
                margin-left: 21px;

                &:hover {
                    background-image: url('/assets/images/player/playlist-on.png');
                }
            }
        }
    }
}
