.back-to-top {
    background-image: url('/assets/images/back-to-top.png');
    width: 100px;
    height: 100px;
    right: 40px;
    bottom: 10px;
    position: fixed;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s linear;

    &:hover {
        opacity: 1 !important;
    }
}
