@import '../../styles/constants';

.artist {
    padding-top: 80px;
    padding-bottom: 100px;
    color: $primary;

    .desktop-hide {
        display: none;
    }

    @media screen and (max-width: $small) {
        padding-top: 60px;
        .desktop-hide {
            display: block;
        }
    }

    &__section {
        padding-top: 50px;
        margin: 0 auto;
        max-width: 1040px;

        @media screen and (max-width: $large) {
            width: 95%;

            &:first-child {
                width: 100%;
            }
        }

        @media screen and (max-width: $small) {
            padding-top: 30px;
            &:first-child {
                padding-top: 0;
            }
        }
    }

    &__banner {
        height: 431px;
        border: 1px solid #979797;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50% 50%;

        @media screen and (max-width: $small) {
            height: 220px;
            display: block;
            position: relative;
            border: none;
        }
    }

    &__info {
        height: 400px;
        width: 500px;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 32px 50px;
        color: white;
        overflow: scroll;

        @media screen and (max-width: $small) {
            display: none;
            height: auto;
            width: 100%;
            padding: 32px 20px;
        }
    }

    &__social {
        margin-bottom: 18px;
        a {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
        svg {
            path {
                fill: white;
            }
            opacity: 0.6;
            width: 36px;
            height: 36px;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
            &.with-margin-r {
                margin-right: 20px;
            }
        }
    }

    &__pb {
        font-size: 14px;
        line-height: 17px;
        font-weight: bold;
        margin-bottom: 12px;
    }

    &__name {
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 14px;
    }

    &__bio {
        font-size: 16px;
        line-height: 24px;
    }

    &__table {
        &__title {
            font-size: 28px;
            line-height: 33px;
            margin-bottom: 17px;

            @media screen and (max-width: $small) {
                font-size: 18px;
                text-align: center;
            }
        }
        .table {
            padding-bottom: 0;
        }
    }

    &__similar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media screen and (max-width: $large) {
            grid-template-columns: 1fr 1fr;
        }

        &__single {
            height: 164px;
            border-radius: 4px;
            position: relative;
            margin-right: 18px;
            font-size: 28px;
            line-height: 33px;
            color: white;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.3s, -webkit-transform 0.3s;
            cursor: pointer;
            background-size: cover;

            &__url:last-child {
                margin-right: 0;
            }

            &:hover {
                transform: scale(1.05);
            }

            > div {
                max-width: 90%;
                text-align: center;
            }

            @media screen and (max-width: $large) {
                &:first-child {
                    margin-bottom: 20px;
                }
            }

            @media screen and (max-width: $small) {
                font-size: 21px;
                height: 106px;
            }
        }
        &__overlay {
            position: absolute;
            border-radius: 4px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: -1;
        }
    }
}
