@import '../../styles/constants';

.filters-panel {
    width: 300px;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    background-color: white;
    transition: all 1s ease;
    left: -300px;
    overflow: scroll;
    bottom: 0;

    &--visible {
        left: 0;
    }

    &__filters {
        padding: 48px 30px;
    }

    &__button {
        text-align: right;
    }

    &__presets {
        border-top: 1px solid #979797;
        padding: 30px;

        &-title {
            color: $text-primary;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }
}
