@import '../../styles/constants';

.filters-panel {
    width: 300px;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    background-color: white;
    transition: all 1s ease;
    left: -300px;
    overflow: scroll;
    bottom: 0;

    .desktop-hide {
        display: none;
    }

    &__results {
        height: 60px;
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 22px;
        position: fixed;
        width: 100%;
        z-index: 2;

        .button {
            border-color: white;
            color: white;
            font-size: 12px;
        }

        img {
            height: 32px;
            width: 32px;
            margin-right: 12px;
        }

        div {
            display: flex;
            align-items: center;
        }

        &__tracks {
            font-size: 16px;
            font-family: $font-other;
            color: white;

            span {
                font-family: $font-other;
                font-weight: bold;
                margin-right: 5px;
            }
        }
    }

    @media screen and (max-width: $small) {
        width: 100%;
        z-index: 2;
        left: -100%;
        transition: all 0.3s ease;
        .desktop-hide {
            display: block;
        }
    }

    &--visible {
        left: 0;
    }

    &--searched {
        height: 100%;
        overflow: hidden;
    }

    &__container {
        padding-bottom: 60px;
    }

    &__filters {
        padding: 48px 30px;

        @media screen and (max-width: $small) {
            padding-top: 70px;
        }
    }

    &__button {
        text-align: right;
        @media screen and (max-width: $small) {
            display: none;
        }
    }

    &__presets {
        border-top: 1px solid #979797;
        padding: 30px;

        &-title {
            color: $primary;
            text-transform: uppercase;
            margin-bottom: 10px;

            @media screen and (max-width: $small) {
                text-align: center;
            }
        }
    }

    &__search {
        &__selected {
            padding: 45px 30px 0;

            @media screen and (max-width: $small) {
                padding-top: 80px;
            }

            &-item {
                margin-bottom: 10px;
                min-width: 100px;
                display: inline-block;
                height: 30px;

                &-wrapper {
                    display: inline-block;
                    vertical-align: top;
                }

                &-new {
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    vertical-align: middle;
                }

                &-type {
                    height: 30px;
                    width: 58px;
                    background-color: $secondary;
                    color: white;
                    font-family: $font-other;
                    font-size: 12px;
                    font-weight: 800;
                    line-height: 30px;
                    text-align: center;
                    text-transform: capitalize;
                    border-top-left-radius: 20px;
                    border-bottom-left-radius: 20px;
                    display: inline-block;
                }

                &-name {
                    color: $primary;
                    font-family: $font-other;
                    font-size: 14px;
                    padding: 6px 10px;
                    display: inline-block;
                    border: 1px solid $secondary;
                    vertical-align: bottom;
                    max-width: 150px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                &-close {
                    width: 30px;
                    height: 30px;
                    cursor: pointer;
                    display: inline-block;
                }
            }
        }
    }
}
