@import '../../styles/constants';

.preset {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.3s;

    @media screen and (max-width: $small) {
        width: 80% !important;
        margin: 0 auto 10px !important;
    }

    &:hover {
        transform: scale(1.05);
        @media screen and (max-width: $small) {
            transform: none;
        }
    }

    &-background {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;

        @media screen and (max-width: $small) {
            width: 100% !important;
        }
    }

    &-name {
        color: white;
        font-size: 18px;
        font-weight: 600;
        line-height: 21px;
        text-align: center;
        max-width: 155px;
    }
}
