@import '../../styles/constants';

.button {
    border: 2px solid $secondary;
    border-radius: 2px;
    background-color: white;
    color: $secondary;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: $secondary;
        color: white;
    }

    &:disabled {
        cursor: default;
        opacity: 0.5;
    }
}
