@import '../../styles/constants';

.table {
    margin-top: 47px;

    &__filters {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        &__icon {
            width: 60px;
            margin-right: 20px;
        }
        &__applied {
            &__single {
                color: $text-primary;
                font-size: 20px;
                line-height: 24px;
                display: inline-block;
                margin-right: 5px;
                &-bold {
                    font-weight: 600;
                    margin-right: 5px;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
            &__count {
                color: $text-primary;
                font-family: $font-other;
                font-size: 12px;
                line-height: 17px;
                margin-top: 5px;
            }
        }
    }
    &__header {
        height: 30px;
        background-color: $text-primary;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__label {
            color: white;
            font-family: $font-other;
            font-size: 12px;
            line-height: 17px;
            text-align: center;
            width: 46px;

            &:first-child {
                width: 300px;
                padding-left: 30px;
                text-align: left;
            }
            &:nth-child(2) {
                width: 220px;
            }
            &:nth-child(3) {
                width: 100px;
            }
            &:nth-child(4) {
                width: 100px;
            }
        }
    }

    &__body {
        &__row {
            display: flex;
            align-items: center;
            padding: 10px;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);

            &__column {
                padding: 0 20px;
            }

            &-title {
                display: flex;
                align-items: center;
                justify-content: left;
                width: 300px;
                .table__body__row--hovered & {
                    justify-content: space-between;
                }
                &__container {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                }
                &__actions {
                    display: none;
                    .table__body__row--hovered & {
                        justify-content: center;
                        align-items: center;
                        display: flex;
                    }
                    &-button {
                        width: 36px;
                        height: 36px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-right: 10px;
                        cursor: pointer;

                        &--similar {
                            background-image: url('/assets/images/player/similar.png');
                            &:hover {
                                background-image: url('/assets/images/player/similar-on.png');
                            }
                        }

                        &--share {
                            background-image: url('/assets/images/player/share.png');
                            &:hover {
                                background-image: url('/assets/images/player/share-on.png');
                            }
                        }
                    }

                    &-license {
                        border-radius: 2px;
                        background-color: white;
                        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
                        border: none;
                        color: #3d91c0;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        margin-left: 12px;

                        &:hover {
                            border: 1px solid white;
                            background-color: transparent;
                            color: white;
                        }
                    }
                }
                img {
                    width: 60px;
                    height: 60px;
                    margin-right: 20px;
                    cursor: pointer;
                }
                &__wrapper {
                    max-width: 470px;
                    &-song-title {
                        color: $text-primary;
                        font-family: $font-main;
                        font-size: 16px;
                        line-height: 19px;
                        span {
                            display: none;
                        }
                        .table__body__row--hovered & {
                            color: white;
                            font-weight: 600;
                            margin-bottom: 5px;
                            span {
                                display: inline-block;
                                font-family: $font-other;
                                font-size: 12px;
                                font-weight: 600;
                                line-height: 20px;
                            }
                        }
                    }
                    &-song-artist {
                        color: $text-primary;
                        font-family: $font-other;
                        font-size: 12px;
                        line-height: 20px;
                        &--description {
                            display: none;
                        }
                        .table__body__row--hovered & {
                            &--name {
                                display: none;
                            }
                            &--description {
                                display: block;
                                color: white;
                            }
                        }
                    }
                }
                .table__body__row--hovered & {
                    width: 100%;
                }
            }

            &-flow {
                width: 220px;
                text-align: center;
                img {
                    width: 160px;
                    height: 40px;
                }
                .table__body__row--hovered & {
                    display: none;
                }
            }

            &-duration,
            &-bpm {
                width: 100px;
                text-align: center;
                p {
                    color: $text-primary;
                    font-family: $font-other;
                    font-size: 16px;
                    line-height: 22px;
                    text-align: center;
                }
                .table__body__row--hovered & {
                    display: none;
                }
            }
            &-bpm {
                width: 100px;
                p {
                    font-size: 14px;
                    line-height: 24px;
                    text-align: left;
                }
            }

            &-filter {
                width: 40px;
                text-align: center;
                height: 40px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: contain;
                margin-right: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    color: white;
                    font-family: $font-main;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 17px;
                }
                .table__body__row--hovered & {
                    display: none;
                }
            }
        }
    }
}
