@import '../../styles/constants';

.header {
    position: fixed;
    height: 80px;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 50px;
    background: $background;
    z-index: 999;
    transition: all 500ms ease;

    @media screen and (max-width: $medium) {
        height: 60px;
        &__mobile-hide {
            display: none !important;
        }
    }

    @media screen and (max-width: $small) {
        padding: 12px 10px;
    }

    &__desktop-hide {
        display: none;

        @media screen and (max-width: $medium) {
            display: block;
        }
    }

    &--small {
        height: 60px;
    }

    &__buttons {
        &-close {
            width: 60px;
            height: 60px;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            svg {
                width: 30px;
                height: 30px;
            }
        }

        &-icon {
            width: 30px;
            height: 30px;
            margin-right: 30px;
            cursor: pointer;
            display: inline-block;
            position: relative;

            @media screen and (max-width: $large) {
                width: 36px;
                height: 36px;
            }

            @media screen and (max-width: $small) {
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
                &--apart {
                    margin-right: 20px;
                }
            }

            &--cart {
                width: 36px;
                height: 36px;

                &:hover {
                    opacity: 0.5;
                }
            }

            span {
                font-size: 10px;
                color: white;
                font-weight: bold;
                display: block;
                top: 9px;
                left: 17px;
                position: absolute;
            }
        }
    }

    &__logo {
        cursor: pointer;

        &-icon {
            height: 48px;
            &--small {
                width: 36px;
                height: 36px;
            }
        }
        svg {
            path.st0,
            circle.st0 {
                fill: $secondary;
            }
            path.st2 {
                fill: $tertiary;
            }
        }

        &__text {
            &-main {
                font-size: 26px;
                letter-spacing: 1.5px;
                margin-bottom: 7px;

                &--colored {
                    color: $secondary;
                }
            }

            &-secondary {
                color: $tertiary;
                font-family: $font-alt;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 2.9px;
                line-height: 26px;
                text-transform: uppercase;
            }
        }
    }
}
