@import '../../styles/constants';

.promo {
    text-align: right;
    margin-top: 20px;

    &--centered {
        text-align: center;
    }

    .button {
        font-size: 12px;
        text-transform: capitalize;
        font-weight: bold;
        font-family: $font-other;
        border-radius: 4px;

        &.dark {
            border-color: $primary;
            background-color: $primary;
            color: white;
            font-size: 14px;

            &:hover {
                border-color: $secondary;
                background-color: $secondary;
            }
        }
    }

    .input-error:after {
        right: 15px;
    }
}
