@import '../../styles/constants';

.queue {
    height: 0;
    width: 300px;
    background-color: $primary;
    position: fixed;
    right: 0;
    bottom: 60px;
    visibility: hidden;
    transition: all 0.5s ease-in;
    z-index: 2;
    &--visible {
        height: calc(100vh - 140px);
        visibility: visible;
    }

    &__header {
        background-image: url('/assets/images/queue/queue-header.png');
        height: 60px;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 18px;
        color: white;
        position: relative;
        &__name {
            font-weight: 600;
        }
        img {
            cursor: pointer;
            width: 30px;
            height: 30px;
        }
    }

    &__content {
        padding-top: 40px;
        overflow: scroll;
        height: calc(100vh - 220px);
    }
    &__song {
        display: flex;
        align-items: center;
        color: white;
        padding: 20px 30px;
        position: relative;
        &--hovered {
            background-color: $secondary;
        }
        &--expanded {
            background-color: $tertiary;
        }
        &__handle {
            position: absolute;
            left: 6px;
            cursor: pointer;
        }
        &__delete {
            position: absolute;
            right: 50px;
            cursor: pointer;
            &--single {
                right: 20px;
            }
        }
        &__wrapper {
            width: 70%;
            text-align: left;
            &--hovered {
                width: 55%;
            }
        }
        &__cover {
            width: 40px;
            height: 40px;
            margin-right: 15px;
        }
        &__title {
            margin-bottom: 3px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &--blue {
                color: $secondary;
            }
            .queue__song--hovered & {
                color: white;
            }
        }
        &__artist {
            font-family: $font-other;
            font-size: 12px;
            line-height: 20px;
            &--blue {
                color: $secondary;
            }
            .queue__song--hovered & {
                color: white;
            }
        }
        &__more {
            font-size: 38px;
            position: absolute;
            right: 20px;
            cursor: pointer;
        }
        &__name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__sublist {
        background-color: $almost-white;
        padding: 30px 0;
        .queue__song {
            color: $primary;
        }
    }
    &__more {
        list-style: none;
        margin: 0;
        padding: 15px 20px 15px 15px;
        position: absolute;
        border: 1px solid $primary;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        right: 30px;
        top: 50px;
        z-index: 2;
        &__item {
            color: $tertiary;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
            svg {
                width: 25px;
                height: 25px;
                margin-right: 10px;
            }
        }
    }
}

.modal--share.queue-share .modal__content {
    .share {
        &__item__title {
            cursor: pointer;
        }
        &__button {
            &--disabled {
                opacity: 0.5;
                cursor: initial;
            }
            &--active {
                background-color: $secondary;
                border-color: $secondary;
            }
        }
        &__input {
            width: 240px;
            border: none;
            border-bottom: 2px solid #9b9b9b;
            padding-bottom: 9px;
            color: $secondary;
            font-size: 16px;
            font-weight: bold;
            line-height: 19px;
        }
    }
}
